@font-face {
  font-family: "Allura";
  src: url(./fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Felix";
  src: url(./fonts/felix-titling-mt.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Aktkinson";
  src: url(./fonts/Atkinson-Hyperlegible-Regular-102.otf);
}

@font-face {
  font-family: "Lavonia";
  src: url(./fonts/EDLavonia-Regular.ttf);
}

@font-face {
  font-family: "Brixton";
  src: url(./fonts/Brixton-Book.ttf);
}
@font-face {
  font-family: "Helgoland";
  src: url(./fonts/Helgoland.otf);
}

:root {
  --font1: "Allura", cursive;
  --font2: "Poppins", sans-serif;
  --font3: "Felix", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Aktkinson", sans-serif;
  --font6: "Lavonia", cursive;
  --font7: "Brixton", sans-serif;
  --title: "Helgoland", sans-serif;
  --white: #eee;
  --black: #21201e;
  --grey: rgb(19, 13, 13);
  --color1: rgb(166, 114, 69);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
body {
  text-align: center;
  font-family: var(--font3);
  background: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}
