.container {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
}
.imgHome {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.textTitle {
  display: flex;
}

.title {
  z-index: 10;
  color: white;
  position: relative;
  font-size: 4.5rem;
  font-family: var(--title);
  text-transform: uppercase;
  position: absolute;
  margin-left: 30px;
}

.subtitle {
  z-index: 10;
  color: var(--color1);
  position: relative;
  font-family: var(--font1);
  font-size: 3.6rem;
  position: absolute;
  margin-left: 30px;
  margin-top: 70px;
}

.text {
  z-index: 10;
  color: white;
  position: relative;
}

@media screen and (max-width: 1120px) {
  .home {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 3rem;
  }

  .textTitle {
    margin-top: 100px;
  }
}

/* @media screen and (max-width: 680px) {
  .home {
    display: block;
  }

  .title,
  .subtitle {
    font-size: 3rem;
    position: relative;
    margin: 0 auto;
  }

  .imgHome {
    object-fit: cover;
  }
} */

@media screen and (max-width: 550px) {
  .title,
  .subtitle {
    font-size: 2rem;
  }

  .title {
    transform: translate(50%, -50%);
  }
  .subtitle {
    transform: translate(50%, -50%);
  }

  .imgHome {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
}
@media screen and (max-width: 380px) {
  .title,
  .subtitle {
    font-size: 1.5rem;
  }
  .imgHome {
    height: 100%;
    width: 100%;
  }
}
