.footerContent {
  background: black;
  text-align: left;
  padding: 65px 32px;
  color: var(--white);
  max-width: 1030px;
  margin: 0 auto;
}

.social {
  display: flex;
}

@media screen and (max-width: 750px) {
  .footerContent {
    display: grid;
    grid-template-columns: 1fr;
    background: none;
  }
}

.leftPart {
  padding-right: 30px;
  line-height: 30px;
}

@media screen and (max-width: 680px) {
  .leftPart {
    padding-left: 20px;
    text-align: center;
  }

  .h2 {
    font-family: var(--title);
    font-size: 2rem;
    font-weight: 100;
    color: var(--color1);
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .social {
    display: flex;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.h2 {
  font-family: var(--title);
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--color1);
  margin-bottom: 15px;
}

.p {
  font-size: 0.85rem;
  color: var(--white);
  text-transform: lowercase;
  font-family: var(--title);
  font-size: 1rem;
}

.rightPart {
  display: flex;
}

.contact {
  display: flex;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  width: 30px;
  height: 30px;
}
